:root {
    --btb-color:#171717;
    --btb-border:#252525;
    --btb-light:1; /* 1 for dark, 0 for light, NOTE: THE BACKGROUNDS BREAK WITH THIS SET TO 0.*/
    --btb-close-hover:#E81123;
    --btb-close-active:#F1707A;
    --btb-mm-hover:#363636;
    --btb-mm-active:#505050;
    --btb-titlebar-height:32;
    --btb-button-width:48px;
}

.titlebar{
    background:var(--btb-color);
    height:calc(1px*var(--btb-titlebar-height))!important;
    width:calc(100% + 1px);
    border-bottom:var(--btb-border) 1px solid
}

.popout-bottom[style*="overflow: hidden; visibility: visible;"]{
    top:92px!important; /*tweak this*/
}

.titlebar:before{
    content:"";
    background-image:url(https://rawgit.com/MGRich/BetterTitleBar/stable/svg/discord.svg);
    position:absolute;
    top:calc(0.21875px*var(--btb-titlebar-height));
    left:calc(.25px*var(--btb-titlebar-height));
    opacity:1;
    height:calc(3.75px*var(--btb-titlebar-height));
    width:calc(2.03125px*var(--btb-titlebar-height));
    background-size:cover;
    fill:orange;
    filter:brightness(var(--btb-light))
}

.win-buttons button{
    height:calc(1px*var(--btb-titlebar-height))!important;
    width:var(--btb-button-width)!important;
    background-size: calc(.625px*var(--btb-titlebar-height));
    background-repeat:no-repeat;
    opacity:1;
    filter:brightness(var(--btb-light));
    margin-right:1px; 
}

.win-buttons{
    height:calc(1px*var(--btb-titlebar-height))!important;
    right:0px;
    top:0px;
}
.win-buttons button {
    transition: .2s!important;
    will-change: background-color!important;
}
.win-buttons button:hover, .win-buttons button:active {
    transition:0s!important;
}
.win-buttons button.win-close:hover {
    background-color:var(--btb-close-hover);
}
.win-buttons button:hover {
    background-color:var(--btb-mm-hover);
} 
.win-buttons button.win-close:active {
    background-color:var(--btb-close-active);
}
.win-buttons button:active {
    background-color:var(--btb-mm-active);
} 
.win-buttons.win-buttons-notice{
    top:0!important
}
.app{
    margin-top:calc((1px*var(--btb-titlebar-height)) + 1px)

}
.separator-win{
    display:none
}
