:root {
    --btb-icon-stroke:white; /* for canary */
    --btb-discord-color:white; /* for canary */
    --btb-color:#171717;
    --btb-border:#252525;
    --btb-light:1; /* 1 for dark, 0 for light, NOTE: THE BACKGROUNDS BREAK WITH THIS SET TO 0. will do nothing in canary, as replaced by icon stroke and discord color*/
    --btb-close-hover:#E81123;
    --btb-close-active:#F1707A;
    --btb-mm-hover:#363636;
    --btb-mm-active:#505050;
    --btb-titlebar-height:32;
    --btb-button-width:48px;
}

.titlebar {
    content:"";
    background:var(--btb-color);
    height:calc(1px*var(--btb-titlebar-height))!important;
    width:calc(100% + 1px);
    border-bottom:var(--btb-border) 1px solid;
}
.appMount-14L89u {
    background:var(--btb-color);
}

.container-2OU7Cz {
    border-top:var(--btb-border) 1px solid;
}
.typeWindows-15E0Ys {
    height:var(--btb-titlebar-height)px;
    background:transparent!important;
}
.app-XZYfmp {
    position: initial;
}
.popout-bottom[style*="overflow: hidden; visibility: visible;"]{
    top:92px!important; /*tweak this*/
}
.titlebar:before, .wordmark-2L03Wr {
    content:"";
    background-image:url(https://rawgit.com/MGRich/BetterTitleBar/stable/svg/discord.svg);
    position:absolute;
    top:calc(0.21875px*var(--btb-titlebar-height));
    left:calc(.25px*var(--btb-titlebar-height));
    opacity:1;
    height:calc(3.75px*var(--btb-titlebar-height));
    width:calc(2.03125px*var(--btb-titlebar-height));
    background-size:cover;
    fill:orange;
    filter:brightness(var(--btb-light))
    padding:0;
}
.wordmark-2L03Wr svg {
    display: none;
}
.win-buttons button, .winButton-U7zAqI {
    height:calc(1px*var(--btb-titlebar-height))!important;
    width:var(--btb-button-width)!important;
    background-size: calc(.625px*var(--btb-titlebar-height));
    background-repeat:no-repeat;
    opacity:1;
    filter:brightness(var(--btb-light));
}
.win-buttons button, .winButtonMinMax-bT_gQ1 {
    margin-right: 1px;
}
.win-buttons{
    height:calc(1px*var(--btb-titlebar-height))!important;
    right:0px;
    top:0px;
}
.win-buttons button, .winButton-U7zAqI {
    transition: .2s!important;
    will-change: background-color!important;
}
.win-buttons button:hover, .win-buttons button:active, .winButton-U7zAqI:hover, .winButton-U7zAqI:active {
    transition:0s!important;
}
.win-buttons button.win-close:hover, .winButtonClose-2rIvsa:hover {
    background-color:var(--btb-close-hover);
}
.win-buttons button:hover, .winButtonMinMax-bT_gQ1:hover {
    background-color:var(--btb-mm-hover);
} 
.win-buttons button.win-close:active, .winButtonClose-2rIvsa:active {
    background-color:var(--btb-close-active);
}
.win-buttons button:active, .winButtonMinMax-bT_gQ1:active {
    background-color:var(--btb-mm-active);
} 
.win-buttons.win-buttons-notice{
    top:0!important
}
.app{
    margin-top:calc(1px*var(--btb-titlebar-height))
}
.separator-win{
    display:none
}
.wordmark-2L03Wr svg path {
    fill:var(--btb-discord-color);
}
.winButton-U7zAqI svg polygon, .winButtonMinMax-bT_gQ1 svg[name="TitleBarMinimize"] rect {
    fill:var(--btb-icon-stroke)!important;
}
.winButtonMinMax-bT_gQ1 svg[name="TitleBarMaximize"] rect {
    stroke:var(--btb-icon-stroke)!important;
}
